<footer class="foot">
    <div class="container">
        <div class="cont">
            <a class="toTopButton" (click)="goToTop()" id="toTopButton">BACK TO TOP <i class='bx bxs-arrow-to-top'></i></a>
        </div>
        <div class="logo-line text-center">
            <div class="image">
                <img src="assets/images/logo-end.PNG" alt="">
            </div>

        </div>

        <div class="links">
            <ul>
                <li>
                    <a routerLink="/news" class="main">NEWS</a>
                    <ul class="child-cont">
                        <li>
                            <a>MIDDLE EAST</a>
                        </li>
                        <li>
                            <a>NORTH AFRICA</a>
                        </li>
                        <li>
                            <a>GULF</a>
                        </li>
                        <li>
                            <a>WORLD</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul>
                <li>
                    <a class="main" routerLink="/business">BUSINESS</a>
                    <ul class="child-cont">
                        <li>
                            <a>ECONOMY</a>
                        </li>
                        <li>
                            <a>TECHNOLOGY</a>
                        </li>
                        <li>
                            <a>MARKETS</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul>
                <li>
                    <a class="main" routerLink="/energy">ENERGY</a>

                </li>
            </ul>


            <ul>
                <li>
                    <a class="main" routerLink="/opinion">OPINION</a>

                </li>
            </ul>


        </div>

        <div class="input-icon">
            <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
            <div class="mt-4 d-flex  ">
                <div class="input ">
                    <input type="text" class="inpt" placeholder="Enter email address">
                    <button class="">Subscribe</button>
                </div>
                <div class="icons">
                    <div class="icon-item  f-book"><i class='bx bxl-facebook'></i></div>
                    <div class="icon-item  twitter"><i class='bx bxl-twitter'></i></div>
                    <div class="icon-item  instgram"><i class='bx bxl-instagram'></i></div>
                    <div class="icon-item  youtube"><i class='bx bxl-youtube'></i></div>
                    <div class="icon-item  linkedin"><i class='bx bxl-linkedin'></i></div>


                </div>


            </div>
        </div>

        <div class="footer-end  ">
            <ul>
                <li>
                    <a>ABOUT AL ARABIYA NETWORK</a>
                </li>
                <li>
                    <a>CONTACT US</a>
                </li>
                <li>
                    <a>TERMS OF USE</a>
                </li>
                <li>
                    <a>PRIVACY POLICY</a>
                </li>
                <li>
                    <a>CAREERS</a>
                </li>
                <li class="no-brdr">
                    <a>SPEAK UP</a>
                </li>
            </ul>
        </div>


        <div class="copy-rights text-center">
            <p>&copy;Copyright.Omar Abdul-Khalek.2022</p>
        </div>
    </div>
</footer>