<div class="container-fluid pt-3">
    <div class="container">

       <h4 class="main-title">
           <span class="shape"></span>
           <a href="" class="d-flex align-items-start justify-content-center">
               News
               <i class='bx bx-chevron-right'></i>
           </a>
       </h4>

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-text1">
                    <div class="image1">
                        <img src="../../../assets/images/img1.webp" class="rounded" alt="">
                    </div>
                    <div class="text1 mt-4">
                        <a routerLink="">Moscow says it destroyed tanks supplied by East Europe in strikes on
                            Kyiv</a>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6 ">
                            <div class="cont border-top pt-3">
                                <a routerLink="">Taiwan Strait is an international waterway, Taipei says, in rebuff to China</a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="cont border-top pt-3">
                                <a routerLink="">Possible successor to Abbas warns Israel, but works with it</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3 ">
                <div>
                    <img class="w-100 rounded-top" src="../../../assets/images/img2.webp" alt="">
                </div>
                <div class="new rounded-bottom">


                    <a>Over 26 pct rise in US<br> children attempting<br> suicide by poisoning: Report</a>
                    <div class="mt-3">
                        <a class="btn btn-outline-primary botn">See Full Coverage</a>
                    </div>

                </div>


            </div>
            <div class="col-md-3 ">
                <div>
                    <img class="w-100 rounded" src="../../../assets/images/img3.webp" alt="">

                    <div class="sub pt-4">
                        <a routerLink="">Wife of Russian billionaire Melnichenko contests latest EU sanctions</a>
                    </div>
                </div>

                <div class=" mt-4">
                    <img class="w-100 rounded" src="../../../assets/images/img4.webp" alt="">

                    <div class="sub pt-4">
                        <a routerLink="">Wife of Russian billionaire Melnichenko contests latest EU sanctions</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-center align-items-center">
            <div class=" line">

            </div>

            <div class=" link d-flex justify-content-center">
                <a routerLink="" class="d-flex align-items-center">More <i class='bx bx-chevron-right'></i></a>
            </div>
        </div>


    </div>
</div>