h4.main-title{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    
}
h4.main-title span.shape{
    background: linear-gradient(to bottom, #4b5162 35%, #8b8f9a 0%);
    width: 15px ;
    height: 30px;
    display: inline-block;
    margin-right: 12px;
    
    
}

h4.main-title a{
    text-decoration: none;
    color:black;
    font: 400 1.8rem alarabiya, "Helvetica Neue", sans-serif;
    
    
}

h4.main-title a i {
    font-size: 30px;
}




.img-text1 .image1 img{
    width: 100%;
}


.img-text1 .text1 a {
    text-decoration: none;
    color:black;
    font: 400 2.3rem/2.5rem alarabiya, "Helvetica Neue", sans-serif;
    
}

.img-text1 .cont a{
    text-decoration: none;
    color:black;
    font: 400 1.67rem/2rem alarabiya, "Helvetica Neue", sans-serif;
}

.new{
    background-color: #404759;
    padding:15px 10px 15px 25px;
}

.new a {
    text-decoration: none;
    color:#fff;
    font-size:23px;
}

.new .botn{
    font-size: 16px;
}

.sub a{
     
    text-decoration: none;
    color:black;
    font-size: 1.1rem
}

.line{
    background-color: rgb(197, 173, 173);
    height: 1px;
    width: 90%;
}

.link{
    width: 10%;
}

.link a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.link a i {
    font-size: 18px;
}