<div class="container mt-5">
   


    <div class="row gx-5">
        <div class="col-md-6">
            <h4 class="main-title">
                <span class="shape"></span>
                <a href="" class="d-flex align-items-center">
                    Business
                    <i class='bx bx-chevron-right'></i>
                </a>
            </h4>
        
        

            <div class="row">
                <div class="col-md-6">
                    <img class="w-100 rounded" src="../../../assets/images/business1.webp" alt="">
                    <div class="txt mt-3">
                        <a>Jordan signs MoU with Turkey’s Solvest to explore gold: Ministry</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="w-100 rounded" src="../../../assets/images/business2.webp" alt="">
                    <div class="txt mt-3">
                        <a>Mercedes to recall one million older cars on fear of faulty brakes</a>
                    </div>
                </div>

            </div>

        </div>





        <div class="col-md-6">
            <h4 class="main-title">
                <span class="special"></span>
                <a href="" class="d-flex align-items-center">
                    Energy
                    <i class='bx bx-chevron-right'></i>
                </a>
            </h4>


            <div class="row">
                <div class="col-md-6">
                    <img class="w-100 rounded" src="../../../assets/images/energy1.webp" alt="">
                    <div class="txt mt-3">
                        <a>Germany faces $5.4 bln a year hit from Russian gas sanctions: Welt am Sonntag weekly</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="w-100 rounded" src="../../../assets/images/energy2.webp" alt="">
                    <div class="txt mt-3">
                        <a>JAtmospheric carbon dioxide more than 50 percent higher than pre-industrial era</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>