<div class="container-fluid paddding mb-5">
  <div class="row mx-0">
    <div class="col-md-6  paddding animate-box" data-animate-effect="fadeIn">
      <div class="fh5co_suceefh5co_height">
        <img [src]="theFirstFiveElmsInArr[0].yoast_head_json.og_image[0].url" alt="img" />
        <div class="fh5co_suceefh5co_height_position_absolute"></div>
        <div class="fh5co_suceefh5co_height_position_absolute_font">

          <div class="">
            <a routerLink='/newsshowing/{{theFirstFiveElmsInArr[0].id}}'  class="fh5co_good_font">
              {{theFirstFiveElmsInArr[0].title.rendered}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
          <div class="fh5co_suceefh5co_height_2">
            <img [src]="theFirstFiveElmsInArr[1].yoast_head_json.og_image[0].url" alt="img" />
            <div class="fh5co_suceefh5co_height_position_absolute"></div>
            <div class="fh5co_suceefh5co_height_position_absolute_font_2">

              <div class="">
                <a  class="fh5co_good_font_2 " routerLink='/newsshowing/{{theFirstFiveElmsInArr[1].id}}'>
                  {{theFirstFiveElmsInArr[1].title.rendered}}

                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
          <div class="fh5co_suceefh5co_height_2">
            <img [src]="theFirstFiveElmsInArr[2].yoast_head_json.og_image[0].url" alt="img" />
            <div class="fh5co_suceefh5co_height_position_absolute"></div>
            <div class="fh5co_suceefh5co_height_position_absolute_font_2">

              <div class="">
                <a  class="fh5co_good_font_2 " routerLink='/newsshowing/{{theFirstFiveElmsInArr[2].id}}'>
                  {{theFirstFiveElmsInArr[2].title.rendered}}

                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
          <div class="fh5co_suceefh5co_height_2">
            <img [src]="theFirstFiveElmsInArr[3].yoast_head_json.og_image[0].url" alt="img" />
            <div class="fh5co_suceefh5co_height_position_absolute"></div>
            <div class="fh5co_suceefh5co_height_position_absolute_font_2">

              <div class="">
                <a  class="fh5co_good_font_2 " routerLink='/newsshowing/{{theFirstFiveElmsInArr[3].id}}'>
                  {{theFirstFiveElmsInArr[3].title.rendered}}

                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
          <div class="fh5co_suceefh5co_height_2">
            <img [src]="theFirstFiveElmsInArr[4].yoast_head_json.og_image[0].url" alt="img" />
            <div class="fh5co_suceefh5co_height_position_absolute"></div>
            <div class="fh5co_suceefh5co_height_position_absolute_font_2">

              <div class="">
                <a  class="fh5co_good_font_2 " routerLink='/newsshowing/{{theFirstFiveElmsInArr[4].id}}'>
                  {{theFirstFiveElmsInArr[4].title.rendered}}

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>