<div class="container-fluid pt-3 mt-5">
    <div class="container">

        <h4 class="main-title">
            <span class="shape"></span>
            <a href="" class="d-flex align-items-center">
                Opinion
                <i class='bx bx-chevron-right'></i>
            </a>
        </h4>

        <div class="row gy-4">
            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion1.webp" alt="">
                            <h4 class="ms-4">
                                Makram Rabah
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion2.webp" alt="">
                            <h4 class="ms-4">
                                Heba Yosry
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion3.webp" alt="">
                            <h4 class="ms-4">
                                Abdulrahman al-Rashed
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion4.webp" alt="">
                            <h4 class="ms-4">
                                Omar Al-Ubaydli
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion5.webp" alt="">
                            <h4 class="ms-4">
                                Martin Jay
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion6.webp" alt="">
                            <h4 class="ms-4">
                                Abraham Cooper
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion3.webp" alt="">
                            <h4 class="ms-4">
                                Abdulrahman al-Rashed
                            </h4>
                        </div>
                    </div>
                </div>

            </div> -->

            <!-- <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion7.webp" alt="">
                            <h4 class="ms-4">
                                Matt Horobin
                            </h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="cont rounded">
                    <div>
                        <a href=""><span>Lebanon has seen the unhappy return of Nabih Berri</span></a>
                        <div class="mt-4 d-flex align-items-center">
                            <img src="../../../assets/images/opinion8.webp" alt="">
                            <h4 class="ms-4">
                                Sultan Althari
                            </h4>
                        </div>
                    </div>
                </div>

            </div> -->
        </div>

    </div>
</div>