<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="main-content ">
                <a href="">
                    <img class="w-100" src="assets/images/op1.webp" alt="">
                    <div class="p-3">
                        <h2>
                            Lebanon has seen the unhappy return of Nabih Berri
                        </h2>

                        <p class="mt-4 ">
                            The recent Lebanese Parliamentary elections brought a whiff of hope as the forces of change,
                            those who rose out of the October 17, 2019, popular
                        </p>

                        <div class="mt-5 d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/opinion1.webp" alt="">
                            <h4 class="ms-4">
                                Makram Rabah
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="row gx-3 brdr pb-3">
                <div class="col-md-6 s">
                    <div class="right-content">
                        <a href="">
                            <img class="w-100 rounded" src="assets/images/op2.webp" alt="">
                            <h3>
                                Some pills will allow Big Brother to know more about ourselves than we do
                            </h3>

                            <div class="mt-4 d-flex align-items-center">
                                <img class="rounded-circle" src="assets/images/opinion2.webp" alt="">
                                <h4 class="ms-4">
                                    Heba Yosry
                                </h4>

                            </div>
                        </a>
                    </div>
                </div>



                <div class="col-md-6 s">
                    <div class="right-content">
                        <a href="">
                            <img class="w-100 rounded" src="assets/images/op2.webp" alt="">
                            <h3>

                                Iran after Russia’s withdrawal from Syria
                            </h3>

                            <div class="mt-5 d-flex align-items-center">
                                <img class="rounded-circle" src="assets/images/opinion3.webp" alt="">
                                <h4 class="ms-4">
                                    Heba Yosry
                                </h4>

                            </div>
                        </a>
                    </div>
                </div>
            </div>



            <div class="the-lastShape">
                <div class="row mt-2 gy-2 ">
                    <div class="col-md-4">
                        <a href="">
                            <img class="w-100 rounded" src="assets/images/op4.webp" alt="">
                        </a>

                    </div>

                    <div class="col-md-8">
                        <a href="">
                            <h3>
                                Full facts of US partly lifting sanctions in Northern Syria aren’t yet known
                            </h3>
                            <div class="mt-2 d-flex align-items-center">
                                <img class="rounded-circle" src="assets/images/opinion3.webp" alt="">
                                <h4 class="ms-4">
                                    Heba Yosry
                                </h4>

                            </div>
                        </a>
                    </div>


                    <div class="col-md-4  mt-5">
                        <a href="">
                            <img class="w-100 rounded" src="assets/images/op5.webp" alt="">
                        </a>

                    </div>

                    <div class="col-md-8 mt-5">
                        <a href="">
                            <h3>
                                Full facts of US partly lifting sanctions in Northern Syria aren’t yet known
                            </h3>
                            <div class="mt-2 d-flex align-items-center ">
                                <img class="rounded-circle" src="assets/images/opinion3.webp" alt="">
                                <h4 class="ms-4">
                                    Heba Yosry
                                </h4>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>