<!-- changed.emit() -->
<input type="checkbox" id="toggle-button-checkbox" (change)="changed($event)" [checked]="buttoncase">
<!-- $event.target.checked -->
<label class="toggle-button-switch"    for="toggle-button-checkbox"></label>
<div class="toggle-button-text">
  <div class="toggle-button-text-on"><i class='bx bx-moon'></i></div>
  <div class="toggle-button-text-off"><i class='bx bx-sun'></i></div>
</div>

<!-- <div *ngFor="let item of categoryList">
  <a href="https://ekhbareeat.com/?p={{item.id }}">link {{item.id}}</a>
</div> -->