<div class="container-fluid pt-3 mt-5">
    <div class="container">
        
        <h4 class="main-title">
            <span class="shape"></span>
            <a href="" class="d-flex align-items-center">
                Coronavirus outbreak

                <i class='bx bx-chevron-right'></i>
            </a>
        </h4>

        <div class="row">
            <div class="col-md-3">
                <div class="img-textCont rounded">
                    <img class="w-100 rounded-top" src="../../../assets/images/corona 1.webp" alt="">
                    <div class="p-3">
                        <a href="">
                            
                            UAE government to hold special media briefing amid rising COVID-19 cases
                            
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3">
                <div class="img-textCont rounded">
                    <img class="w-100 rounded-top" src="../../../assets/images/coron 2.webp" alt="">
                    <div class="p-3">
                        <a href="">
                            Beijing to loosen more COVID-19 curbs in move towards normalcy
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3">
                <div class="img-textCont rounded">
                    <img class="w-100 rounded-top" src="../../../assets/images/corona 3.webp" alt="">
                    <div class="p-3">
                        <a href="">
                            Beijing to loosen more COVID-19 curbs in move towards normalcy
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3">
                <div class="img-textCont rounded">
                    <img class="w-100 rounded-top" src="../../../assets/images/coronar 4.webp" alt="">
                    <div class="p-3">
                        <a href="">
                            Beijing to loosen more COVID-19 curbs in move towards normalcy
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="mt-4 d-flex justify-content-center align-items-center">
                <div class=" line">

                </div>

                <div class=" link d-flex justify-content-center">
                    <a routerLink="" class="d-flex align-items-center">More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
